@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/manrope";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: "Manrope Variable", sans-serif;
  --font-sans: "Manrope Variable", sans-serif;
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.65);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.2);
  --radius-2xl: calc(var(--radius) * 1.55);
}

:root {
  --background: oklch(0.967 0.008 250.91);
  --foreground: oklch(0.287 0.025 255.2);
  --popover: oklch(0.997 0.001 250.2);
  --popover-foreground: oklch(0.287 0.025 255.2);
  --primary: oklch(0.599 0.133 255.92);
  --primary-foreground: oklch(0.986 0.004 247.9);
  --secondary: oklch(0.955 0.008 249.2);
  --secondary-foreground: oklch(0.351 0.021 253.8);
  --muted: oklch(0.961 0.007 248.7);
  --muted-foreground: oklch(0.551 0.021 253.24);
  --accent: oklch(0.946 0.015 251.3);
  --accent-foreground: oklch(0.351 0.021 253.8);
  --destructive: oklch(0.63 0.211 25.2);
  --border: oklch(0.901 0.012 251.07);
  --input: oklch(0.992 0.003 248.8);
  --ring: oklch(0.634 0.115 255.44);
  --radius: 1rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    box-sizing: border-box;
  }

  html {
    @apply font-sans;
  }

  body {
    @apply bg-background text-foreground;
    margin: 0;
    min-height: 100vh;
  }
}
